{% extends "base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <h3><p style="text-align: center;">{{msg}}</p></h3>
        {% endfor %}
    {% endif %}
{% endwith %}

<h1> Czas spędzany przed komputerem w trakcie pandemii COVID-19 </h1>
<p> Cześć,  </p>
<p> Jesteśmy studentami Inżynierii Biomedycznej i zwracamy się z wielką prośbą o 
    wypełnienie tej krótkiej ankiety. </p>
<p> Nasza ankieta dotyczy czasu spędzanego przed
komputerem w trakcie pandemii, a co za tym idzie ewentualnym pogorszeniem wzroku. </p>

{% endblock %}
