body {
    background-color: #E7B4FF;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    line-height: 1.4em;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}